.item{
    /* width: 250px; */
    align-items: center;
    width:100%
    
}
.item p{
    margin: 6px 0px;
    color:#ffffff;
}
.name {
    font-size: 16px;
    font-weight: 500;
    color: #374151;
    width:250px;

}
.item-prices{
    display:flex;
    gap:30px;
}

.item-price-new{
    color: #ffffff;
    font-size: 18px;
    font-weight:700;
}

.item button:hover {
    background-color: #000000; /* Adjust button hover background color */
    color: #ffffff; /* Adjust button hover text color */
    transform: scale(1.05);
    transition: 0.6s;
}
.item img{
    height:300px;
    width:250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.productdisplay-right-star{
    display: flex;
    align-items:center;
    margin-bottom: 10px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.productdisplay-right-star img{
    height:16px;
    width:16px;
    box-shadow: none;
    text-shadow: none;
} 

.item-sold{
    display:flex;
    gap:30px;
    margin-top: -20px;
}

/* Tablet styles */
@media (max-width: 1024px) {
    .item {
        width: 100%;
    }

    .name {
        font-size: 14px;
        width:230px;
    }

    .item-prices {
        gap: 20px;
    }

    .item-price-new {
        font-size: 16px;
    }

    .item img {
        height: 280px;
        width: 230px;
    }

    .productdisplay-right-star {
        font-size: 14px;
    }

    .productdisplay-right-star img {
        height: 14px;
        width: 14px;
    }

    .item-sold {
        gap: 20px;
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    .item {
        width: 100%;
    }

    .name {
        font-size: 12px;
        width: 230px;
    }

    .item-prices {
        gap: 15px;
    }

    .item-price-new {
        font-size: 14px;
    }

    .item img {
        height: 280px;
        width: 230px;
    }

    .productdisplay-right-star {
        font-size: 12px;
    }

    .productdisplay-right-star img {
        height: 12px;
        width: 12px;
    }

    .item-sold {
        gap: 15px;
    }
}


@media (max-width: 620px) {
    .item {
        width: 100%;
    }

    .name {
        font-size: 12px;
        width: 190px;
    }

    .item-prices {
        gap: 15px;
    }

    .item-price-new {
        font-size: 14px;
    }

    .item img {
        height: 230px;
        width: 190px;
    }

    .productdisplay-right-star {
        font-size: 12px;
    }

    .productdisplay-right-star img {
        height: 12px;
        width: 12px;
    }

    .item-sold {
        gap: 15px;
    }
}

/* Small Mobile styles */
@media (max-width: 480px) {
    .item {
        height: auto; /* Change height to auto to fit the content */
        width: 100%; /* Make items take full width */
        /* margin-left: 10px; */
    }

    .item-content {
        padding: 5px; /* Add padding to the content */
    }

    .name {
        font-weight: 600;
        font-size: 12px; /* Decrease font size further */
        width: 193px;
    }

    .item-prices {
        gap: 3px; /* Decrease gap between prices further */
        margin-bottom: -15px; /* Adjust margin bottom */
    }

    .item-price-new {
        font-size: 10px; /* Decrease font size further */
    }

    .item img {
        height: 240px; /* Decrease image height further */
        width: 193px; /* Make image take full width */
    }

    .productdisplay-right-star {
        font-size: 6px; /* Decrease star font size further */
        padding-top: 8px;
    }

    .productdisplay-right-star img {
        height: 10px; /* Decrease star image height further */
        width: 10px; /* Decrease star image width further */
    }

    .item-sold {
        gap: 3px; /* Decrease gap between sold info further */
    }
}



