.product-detail-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: #1e1e1e; /* Adjust as needed */
  color: rgb(255, 255, 255); /* Text color */
}

.product-detail {
  display: flex;
  max-width: 1200px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #282c34; /* Background color */
}

.product-image {
  flex: 1;
  padding: 20px;
}

.product-image img {
  max-width: 100%;
  border-radius: 10px;
}

.product-info {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.old-price {
  text-decoration: line-through;
  color: #999; /* Old price color */
}

.new-price {
  color: #28a745; /* New price color */
  font-size: 1.5em; /* Larger size for new price */
  margin: 10px 0;
}

.color-selection, .quantity-selection, .action-buttons {
  margin: 10px 0;
}

button {
  border: none;
  background-color: #000000; /* Button color */
  color: white;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff; /* Darker blue on hover */
  color:black;
}

input[type="number"] {
  width: 50px;
  text-align: center;
  margin: 0 5px;
  border: 1px solid #000000; /* Input border */
  border-radius: 5px; /* Rounded corners */
  background-color: black;
  color:white;;
}
option{
  color:black;
}
.select{
  background-color: black;
  color:white;
}
input{
  color:black;
}