.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem; /* Adjust spacing */
  text-decoration: none;
  color:black;
}
.logo:hover{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.nav-link {
  color: rgb(181, 33, 33); /* Ensure the link text color is white */
  text-decoration: none; /* Remove underline */
  padding: 0.5rem 1rem; /* Add padding for clickable area */
}

.nav-link:hover {
  /* background-color: #00e5fe; Optional hover effect */
  border-radius: 4px; /* Optional: rounded corners on hover */
  text-decoration: none;
}
.nav-link {
  color: rgb(168, 20, 20); /* Ensure the link text color is white */
  text-decoration: none; /* Remove underline */
  padding: 0.5rem 1rem; /* Add padding for clickable area */
  margin-right: 1rem; /* Add space to the right of each link */
}

.nav-link:last-child {
  margin-right: 89; /* Remove margin from the last link */
}
/* Your CSS file */
.nav-container {
  text-align: right; /* Right-align text */
  padding: 10px;    /* Add some padding if needed */
}

.nav-link {
  text-decoration: none; /* Remove underline */
  color: #3498db;       /* Change link color */
  font-weight: bold;    /* Make the link bold */
}
.bp3-dark{
  color:#000218;
  background-color: #00e5fd;
}
