.relatedproducts{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
    gap: 10px;
    /* height: 140vh; */
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 80px;
}
.relatedproducts h1{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;

    margin-top: 40px;
}

.relatedproducts h2{
    font-family: 'Archivo Black', sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    margin-top: -25px;
    margin-bottom: 80px;
}

.relatedproducts-item{
    
    margin-top: -20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px; 
    column-gap: 20px; 
    justify-items: center;  /* Center items horizontally */
    align-items: center;
    gap: 30px;
    scale: 1; 
}

.relatedproducts-item img{
    border-radius: 20px;
}







/* Tablet Version */
@media (max-width: 1224px) {
.relatedproducts {
    padding-bottom: 80px;
    height: auto;
    align-items: center;
    margin-top: 50px;
}

.relatedproducts h1, .relatedproducts h2 {
    margin-left: 5%;
    margin-right: 5%;
}

.relatedproducts-item {
    margin-top: -30px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    scale: 1;
}
}
@media (max-width: 900px) {
    .relatedproducts-item {
        scale: 0.9;
    }
  }

/* Mobile Version */
@media (max-width: 768px) {
.relatedproducts {
    padding-bottom: 80px;
    height: auto;
    align-items: center;
    margin-top: 30px;
}

.relatedproducts h1 {
    font-size: 24px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.relatedproducts h2 {
    margin-bottom: 30px;
    font-size: 32px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.relatedproducts-item {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    scale: 1;
}
}

/* Small Mobile Version */
@media (max-width: 480px) {

    .relatedproducts{
        position: relative;
        margin-top: 100px;
        
        /* grid-template-columns: 1fr; */
    }
    .relatedproducts h1 {
        position: absolute;
        font-size: 16px;
        left: -20px; 
        top: -120px; 
    }

    .relatedproducts h2 {
        position: absolute;
        font-size: 21px;
        left: -20px; 
        top: -35px; 
    }

    .relatedproducts-item {
        gap: 20px; /* Reset gap */
        width: 125.2%; /* Change width to fit its container */
        height: auto; /* Change height to auto to fit the content */
        overflow-x: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        scroll-snap-type: x mandatory;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 50px;
        align-items: center;
        padding-top: 10px; /* Add padding to accommodate the fixed-position elements */
    }

    .relatedproducts-item img{
        border-radius: 10px;
    }

    .relatedproducts-item::-webkit-scrollbar {
        display: none;
    }

}

/* Small Mobile Version */
@media (max-width: 340px) {
    .relatedproducts{
        padding-bottom: 80px;
    }
    .relatedproducts h1 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .relatedproducts h2 {
        font-size: 20px;
    }
    
    .relatedproducts-item {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    }